@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-scrolling {
    0% {
        background-position: 0% center;
    }
    100% {
        background-position: -200% center;
    }
}

.secondary-gradient-anim-text {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-secondary-focus;
    background-size: 200%;
    animation: gradient-scrolling 5s ease-in-out infinite;
}

.input-underline {
    @apply input input-ghost text-xl;
}
.input-group-underline .input-tag-underline,
.input-group-underline .input-underline {
    @apply border-t-0 border-l-0 border-r-0 border-b-4 border-primary;
    /* Used to make border color change instantly */
    transition: none;
}
.input-group-underline:focus-within .input-underline,
.input-group-underline:focus-within .input-tag-underline {
    @apply outline-none border-primary-focus
}